/* 
FLAVORTOWN 2030 | COPYRIGHT 2018
CREATED BY JOE GREINER, ROGER PEREZ, BRIE SAEZ

NOTES:
CSS STYLING BROKEN DOWN BY SCREEN LAYOUT, FROM LARGEST ELEMENTS TO SMALLEST.
*/



/* ----------- GENERAL LAYOUT ----------- */

body{
  background: #000;
  font-family: 'Press Start 2P', cursive;
}

#game{
  background-image: url('hellscape.jpg');
  top: 0px;
  /* position: absolute; */
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.clear {
  clear: both;
}




/* ----------- START SCREEN ----------- */

#overlay{
  position: fixed;
  color:white;
  font-size: 2rem;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

table{
  text-align: center;
}

#game table{
  margin-left: auto;
  margin-right: auto;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

.modal-content {
  background-image: url('bg_transparent.png');
  background-repeat: repeat;
  margin: auto;
  padding: 60px;
  text-align: center;
  color: #fff;
  width: 75%;
}

.modal img {
  max-height: 200px;
}

#score-text{
  font-size: .75em;
}

#instructions {
  color: #fefefe;
  /* background: cyan; */
  position: relative;
  width: 80%;
  z-index: 2;
  /* top: 450px; */
  margin-top: -175px;
  margin-left: 10%;
  margin-right: 10%;
  visibility: hidden;
}

.instruction-cell {
  /* background: magenta; */
  text-align: center;
  font-size: .75em;
  float: left;
  width: 30%;
  vertical-align: middle;
  margin-left: 1.66%;
  margin-right: 1.66%;
}

.thumb {
  max-width: 50px;
  max-height: 50px;
  margin-top: 5px;
}

.instruction-ship {
  padding-left: 50px;
  padding-bottom: 30px;
  height: 100px;
  width: 65px;
}

#high-scores {
  visibility: hidden;
}

.guy-instructions {
  padding-top: 20px;
  width: 80px;
}

#logo {
  background-image: url('logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 254px;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.start_screen_links {
  color: white;
  position: relative;
  text-decoration: none;
}

.keys {
  width: 110px;
  padding-left: 20px;
}




/* ----------- GAMEPLAY ----------- */

.bg {
  width: 4778px;
  height: 600px;
  background-image: url('hellscape.jpg');
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  top: 0px;
  position: absolute;
  z-index: 0;
}

#score {
  color: #fff;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 5;
  visibility: hidden;
}

.pauseBtn {
  height: 40px;
  display: none;
  width: 40px;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 4;
  background-image: url('blue_pause.png');
  background-size: cover;
}

.pauseBtn:hover {
  background-image: url('red_pause.png');
  background-size: cover;
  cursor: pointer;
}

#dodger {
  /* background-color: white; */
  background-image: url('ship.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  width: 65px;
  position: absolute;
  left: 25px;
  top: 280px;
  z-index: 1;
}

.rock {
  width: 40px;
  height: 40px;
  background-image: url('guy.gif');
  background-size: cover;
  background-repeat: no-repeat;
  /* background: fuchsia; */
  position: absolute;
}

.rock:hover {
  cursor: pointer;
}

.rock:before {
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 9px;
}

.rock:after {
  content: "";
  bottom: 0;
  height: 0;
  left: 0;
  position: absolute;
  width: 9px;
}