body{
  background: #000;
  font-family: 'Press Start 2P', cursive;
}

#game{
  background-image: url('hellscape.jpg');
  top: 0px;
  position: absolute;
}

#game table{
  margin-left: auto;
  margin-right: auto;
}

#score{
  color: #fff;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 5;
}

#logo{
  background-image: url('logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 254px;
  height: 75px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#dodger {
  /* background-color: white; */
  background-image: url('ship.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  width: 65px;
  /* height: 50px; */
  /* margin-left:10px; */
  position: absolute;
  /* width: 40px; */
  left:25px;
  top:280px;
  z-index: 1;
}

#overlay{
    position: fixed;
    color:white;
    font-size: 2rem;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }

  #top-scores{
    /* padding-top:100px; */
  }

  table{
    text-align: center;
    /* list-style-position: inside; */
  }

  .pauseBtn{
    height: 40px;
    display: none;
    width: 40px;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 3;
    background-image: url('blue_pause.png');
    background-size: cover;
  }

  .pauseBtn:hover{
    background-image: url('red_pause.png');
    background-size: cover;
    cursor: pointer;
  }

#game {
  background-color: #111;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

#start {
  color: white;
  /* font-size: 4rem; */
  position: relative;
  text-decoration: none;
  top: 4rem;
}

.rock {
  width: 40px;
  height: 40px;
  background-image: url('guy.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* background: tan; */
  position: absolute;

}

.rock:before {
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 9px;
}

.rock:after {
  content: "";
  bottom: 0;
  height: 0;
  left: 0;
  position: absolute;
  width: 9px;

}

.bg {
  width: 4778px;
  height: 600px;
  background: tan;
  background-image: url('hellscape.jpg');
  top: 0px;
  position: absolute;
  z-index: 0;
}

.imgClass {
  height: 100%;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
