#ground{
  position: fixed;
  background-size: auto;
  padding 25px;
  bottom:0px;
  /* height: 100px; */
  background-color: green;
  /* margin-right: auto; */
  /* margin-left: auto; */
}

#avatar {
  background-color: black;
  height: 20px;
  position: absolute;
  width: 40px;
}
